[2017-12-11 08:52] deepakjois opened #1 "Fill in README"
Follow the style of the dgraph4j README, and just replace Java code w/ Javascript code.

[2017-12-11 08:53] deepakjois opened #2 "CI Setup"
* [x] Travis Setup
* [ ] Appveyor Setup
* [x] Coverage Badge

[2017-12-11 08:53] deepakjois opened #3 "Push a beta release to NPM"

[2017-12-11 08:55] deepakjois opened #4 "Add instructions to publish to NPM"
Follow this template: https://github.com/dgraph-io/dgraph4j/blob/master/PUBLISHING.md

[2017-12-11 08:56] deepakjois opened #5 "Compare Performace w/ Java client"
Initial observations suggest that the Javascript client takes several times longer to run the integration tests, compared to the Java client.

We should start by doing some systematic testing, and investigate any bottlenecks that could be easily fixed

[2017-12-12 04:41] deepakjois commented on #5
Performance seems comparable. Test timings as measured on my laptop are about the same.

[2017-12-12 04:41] #5 closed

[2017-12-12 07:12] gpahal commented on #1
Updated in master.

[2017-12-12 07:12] #1 closed

[2017-12-12 08:39] gpahal commented on #3
Released 0.9.4-beta.1

[2017-12-12 08:39] #3 closed

[2017-12-12 10:35] gpahal commented on #4
Updated in master.

[2017-12-12 10:35] #4 closed

[2017-12-13 07:10] gpahal opened #6 "Publish dgraph-js with the next tag after a successful travis build"
On every successful travis build, we can publish dgraph-js to npm with the next tag.

Users can then install this bleeding edge version using `npm install dgraph-js@next --save`, test it and provide feedback.

[2017-12-13 15:16] MichelDiz opened #7 "TypeError: Channel's second argument must be a ChannelCredentials"
I can use it perfectly without setting the credentials for gRPC. But I do not know if that would be a problem.

[code]

Here my dependencies

[code]

[2017-12-13 15:25] MichelDiz opened #8 "Are there any debug options?"
The Dgraph-Node version had a very useful debugging option. It returned both the query and the result with further informations.

Cheers

[2017-12-14 06:08] gpahal commented on #7
Can you try reinstalling your dependencies?
I think there is a mismatch between the grpc package you already had in your node_modules directory (dgraph-node requires grpc as well) and the one dgraph-js uses.

Just try reinstalling or updating dependencies.

[2017-12-14 09:16] gpahal commented on #8
Added in the latest beta version 0.9.4-beta.3. You can read about it [here](https://github.com/dgraph-io/dgraph-js#debug-mode).

[2017-12-14 09:16] #8 closed

[2017-12-14 13:21] MichelDiz commented on #7
I removed dgraph-node. That was it, I think it had a gRPC dependency with error. Thank you!

[2017-12-14 13:21] #7 closed

[2017-12-28 16:37] JohannesHoffmann opened #9 "Updating Data"
i haven't found any way to update data via mutation. With Ratel it looks like this:

[code]

How to implement this with dgraph-js and json? Is there some documentation i haven't found?

Cheers

[2017-12-28 17:51] MichelDiz commented on #9
in https://github.com/dgraph-io/dgraph-js/tree/master/examples/simple you can find simple examples how to do it.

There's no func for "Update". You have to do a mutation using the same uid from the node created previously and the same predicate. Just overwrite it.

[2017-12-28 18:22] JohannesHoffmann commented on #9
Yes, but the question is how to use the same uid in the right way?
Is a js object like:
[code]
but this one does not work.
In the examples is only explained how to create new data and not how to override data with the uid and the same predicate.

[2017-12-28 20:34] janardhan1993 commented on #9
you can do
[code]

[2017-12-28 20:49] MichelDiz commented on #9
This way you're doing is a miss concept of how mutations work. The client will recognize the object you're sending (the update as overwrite) if you write how Janardhan did. So You don't need to send an object like u did. It's seems logical, but not how mutations works.

Dgraph do not store data as Json. It's translate it into triples stores (nquad store - https://www.w3.org/TR/n-quads/ ) and vice

[2017-12-28 22:35] manishrjain commented on #9
With this representation, our aim is to make the interaction work like documents. You can pass in the properties, along with the id of the document, and Dgraph would internally do what it needs to store them. Querying works the same way.

[2017-12-30 08:49] pmualaba opened #10 "Serialization type Uint8/base64 as a DgraphClientStub() option"
The dgraph-js documentation qoutes: "You will need to deserialize it before you can do anything useful with it."
Since we are completely in JavaScript land when using dgraph-js, we as node/js developers only deal with JavaScript objects. Why would we then still need to imperatively do the serialization and de-serialization (Uint8/base64/JSON) in our JavaScript code. This imperative repetitive task

[2017-12-31 08:30] JohannesHoffmann commented on #9
Thank you all it is working well. This was not clear for me because i tried to mutete a override like the documentation of dgraph and not like a document. Maybe it would be nice to include an update mutation into the example to avoid this kind of questions?

[2017-12-31 08:30] #9 closed

[2018-01-04 07:21] smkhalsa commented on #10
I was about to open this same issue. This is important.

[2018-01-04 08:35] gpahal commented on #10
Currently, all the grpc types are auto-generated using protoc and that's why the interface is a bit complicated. To encapsulate the serialization/deserialization, we would have to create wrapper classes and keep the generated classes and the wrapper classes in sync.

I will have a look as to how we can implement this.

[2018-01-06 16:01] dzeroone opened #11 "facets in json mutation"
How should I add facets in json.

[2018-01-08 00:56] peterstace commented on #11
Hi @dzeroone , I've recently added some documentation for JSON mutations here: https://docs.dgraph.io/master/mutations/#facets

This applies to the JS, Go, Java etc. clients.

[2018-01-10 18:02] #11 closed

[2018-01-17 00:44] MichelDiz opened #12 "webpack-for-webDll ModuleNotFoundError: Module not found: Error: Can't resolve 'child_process'"
This error has constantly appeared in my test and study application. I can use the application, but it generates errors of communication between services. Because the error causes the webpack to load in half. Here's some information.

Should open Port 3000, but the load is not complete opening only the 8080 via ngrok which is useless. Without the dgraph-js dependencies inside the application works

[2018-01-17 06:05] gpahal commented on #12
Can you share your webpack config if it is not private?

[2018-01-17 14:15] MichelDiz commented on #12
it's from this kit https://github.com/sysgears/apollo-universal-starter-kit

Go to "Tools" Folder. |> webpackAppConfig.js

Check |> webpack.config.lint.js (In root)

PS. In Production mode it is working, however every change I make I have to generate a new Build. This slows down.

And we use this https://www.npmjs.com/package/spinjs | https://github.com/sysgears/spinjs

[2018-01-17 15:43] MichelDiz commented on #12
I got the solution with the kit maintainers. It was just adding dgraph-js as part of the server dependencies. In webpackAppConfig.js. It was not a Dgraph-js problem anyway. Sorry opened this issue without clarify it first.

Solution:
[code]

[2018-01-17 15:43] #12 closed

[2018-01-18 15:18] lazharichir opened #13 "Has anybody tried dgraph-js with Dgraph v1.*?"
Just wondering if anybody tried `dgraph-js` with the latest version of dgraph? If so, does it work or not really?

[2018-01-19 14:59] MichelDiz commented on #13
Work, I'm using it since 1.0

[2018-01-19 17:03] The-Punk-Programmer commented on #13
I tried it this morning with the simple example that is on the repo and it works fine. I'll have to try and do more complex things with dgraph-js to see just how well it really works though.

[2018-01-19 18:49] gpahal commented on #13
Yes, the client is compatible with Dgraph v0.9.x and v1.0.x

[2018-01-19 18:50] #13 closed

[2018-01-20 12:19] gpahal commented on #10
I have published a new release (v1.0.1@next). It doesn't require serialization/deserialization!

Just use `Mutation#setSetJson(jsonObject)` or `Mutation#setDeleteJson(jsonObject)` on a mutation or `Response#getJson()` to get a json response from a query.

Please try the new release and report any bugs that you find.

[2018-01-22 08:01] pmualaba commented on #10
Super, Big, Big Big thanks for this one! I'll try it out. :-)

[2018-01-23 03:44] vespertilian opened #15 "Do I need to close connections?"
I have a number of scripts that all create there own connection, and I was trying to see if there was a cleanup function I need to run when I am finished with the connections and want to disconnect.

Is there a cleanup function?

Also is there a limit on connections?

I could not find answers to either of these questions, in the docs, or the code. It could be I am bad at looking.

I am planning to

[2018-01-24 10:24] gpahal commented on #15
There is no limit to connections. When a new client is created using `new dgraph.DgraphClient(...DgraphClientStub)`, a new grpc channel is created for each DgraphClientStub. As long as the server can accept new connections, the client can create new channels.

The node.js grpc client v1.5 added a close method. I'll add a method `DgraphClientStub#close()` to close the channel associated with Dgraph

[2018-01-24 10:24] #10 closed

[2018-01-24 13:46] gpahal commented on #15
See [https://github.com/dgraph-io/dgraph-js#cleanup-resources](https://github.com/dgraph-io/dgraph-js#cleanup-resources) for the documentation on cleaning up resources. It's available on v1.0.2.

[2018-01-24 13:46] #15 closed

[2018-01-24 13:53] gpahal commented on #6
npm doesn't allow deleting already published versions. So the publish step will involve updating the version in the package.json to something like "1.0.5-beta.7" and creating a new version release which is not the best thing to do. So, this is not in the current plans.

[2018-01-24 13:53] #6 closed

[2018-01-25 01:53] tav opened #16 "Setting deadlines/timeouts on individual calls"
Would it be possible to add support for setting deadlines on individual calls with the `dgraph-js` client?

Perhaps the calls could take an optional `options` parameter? e.g.

[code]

As far as I can tell, the Dgraph Go client supports enforcing deadlines on individual calls, and from briefly looking at the Node.js gRPC implementation, it seems to support `CallOptions` with a `deadline` property t

[2018-01-26 12:36] gpahal commented on #16
Yes, this is possible and I think this will be a good addition. I will add an option parameter to individual method calls and also to the DgraphClientStub contructor (https://grpc.io/grpc/node/grpc.Client.html).

[2018-01-26 15:52] tav commented on #16
Thanks @gpahal!

[2018-01-26 16:46] tamethecomplex opened #17 "Json parse error"
Version: 1.0.2 (also applies to 1.0.3)
Dgraph version: 1.0.2

After running a query of the form via txn.query(...):

[code]

Within your method Response.getJson(), the call to super.getJson() returns a string that is not valid Json:

`"classes": [{"name":....`

This results in a JSON parse error, "Unexpected token : in JSON at position 9"

Was there a recent change that would have changed the form

[2018-01-27 10:48] gpahal commented on #17
Can you post the full query and response if it's not confidential? I am not able to reproduce this.

[2018-01-27 14:31] cyphercider commented on #17
Not a problem, I will do this first thing next week.  I'm just now learning how the auto-generated protobuf code works and was planning to dig in a bit more there.  If I'm not mistaken, the grpc module runs native code.  I'm running the client on windows and accessing dgraph running on Ubuntu inside of VirtualBox.  I'm not sure if the windows platform may have something to do with this.

Either wa

[2018-01-29 05:59] gpahal commented on #16
I've added the basic functionality in v1.0.4-beta.3. It's available with the next tag:

[code]
You can pass an additional argument of type `grpc.CallOptions` to the `DgraphClient#alter`, `Txn#query`, `Txn#queryWithVars`, `Txn#mutate`, `Txn#commit` and `Txn#discard` methods.

[2018-01-29 13:56] cyphercider commented on #17
Somehow I'm not able to repro this morning.  Will reopen when / if it comes up again.

[2018-01-29 14:15] tamethecomplex opened #18 "Source of very high client latency?"
**---------------------------------------------------------**
Versions:
Dgraph v1.02
dgraph-js v1.03
Windows 10 client
Ubuntu / Virtualbox Dgraph server / zero / ratel
---------------------------------------------------------

Using this query as an example:

`{
    adminUsers(func: eq(VertexType, "User")) @filter(eq(IsAdministrator, "1")) {
      uid
    }
  }`

Actual console .time() / timeEnd()

[2018-01-29 16:55] #18 closed

[2018-02-01 10:25] tamethecomplex opened #19 "Add txn.ts to exports from index.ts?"
I noticed that src/txn.ts is not exported from index.ts (just types.ts, client.ts, clientStub.ts, and errors.ts).  Was this intentional?  The reason I ask is - I'm creating a typescript interface and want to reference the Txn type.

[2018-02-01 14:09] tamethecomplex opened #20 "Retrieving schema?"
Modifying the schema with op.setSchema ... client.alter(op) works great.

However, how can I retrieve the dgraph schema?  I tried passing a query of the form:

[code]

But it doesn't return results, I assume because a schema query isn't supported by the Txn.query method?

[2018-02-01 14:51] tamethecomplex opened #21 "Cannot use same transaction for delete and set mutations"
I am trying to write a transaction which deletes from a predicate of type [string], writes back to that same predicate, and then commits both at once.

I have found I'm not able to do that with the library currently.  What happens is, the original edge is deleted, but the subsequent one is never written.  As an example, I am trying to perform these mutations:

[code]

If I create and commit two se

[2018-02-02 04:37] pawanrawal commented on #20
You can retrieve the schema using the `/query` endpoint. The result would be in the [Schema](https://github.com/dgraph-io/dgraph-js/blob/master/protos/api.proto#L43) field.

[2018-02-02 04:53] pawanrawal commented on #21
Could not reproduce this. Could you share a full example @tamethecomplex? Here is what I tried. I also noticed that you are not checking your errors.

[code]

[2018-02-02 07:15] cyphercider commented on #20
Thanks @pawanrawal.  To clarify, can I do this with the js client or only the HTTP endpoint?

[2018-02-02 07:43] pawanrawal commented on #20
Looks like we just return the [`JSON` result](https://github.com/dgraph-io/dgraph-js/blob/master/src/types.ts#L75) from the client.

@gpahal could we check if `Schema` field has a non-empty response if it does then convert it to JSON and return otherwise return the JSON response? This should be safe to do because we don't allow `schema{}` with other queries so we can't have both.

[2018-02-02 08:34] gpahal commented on #20
You can do this with the client. Just use the [`Response#getSchemaList()`](https://github.com/dgraph-io/dgraph-js/blob/9c288baa42b21bbb562e009bf2469d422719e9c0/generated/api_pb.d.ts#L46) method.

[2018-02-02 08:50] gpahal commented on #19
`Txn` class is now exported in the new release (v1.0.4).

[2018-02-02 08:50] #19 closed

[2018-02-02 08:50] gpahal commented on #16
Done in v1.0.4

[2018-02-02 08:50] #16 closed

[2018-02-02 10:38] cyphercider commented on #20
@gpahal got it, thanks!

[2018-02-02 10:38] #20 closed

[2018-02-02 13:36] cyphercider commented on #21
Hi @pawanrawal, sorry, that was an abbreviated code example just for illustration.

For a complete / easily runnable example, please see:
https://github.com/tamethecomplex/js_issue_repro/tree/master/dgraph-js/issue_21

Please let me know if the example doesn't work or if something isn't clear.  Thanks!

[2018-02-02 16:14] roscioli commented on #17
I'm getting the same problem with 1.0.3

[2018-02-02 16:37] roscioli commented on #17
Seems like the first `{` is missing and is breaking the `JSON.parse` in `/lib/types.js` line 80.

[2018-02-02 16:38] cyphercider commented on #17
@roscioli , I'm getting it again too, but I haven't bothered to re-open the issue until I can produce a solid repro.  I'll re-open now though since you're also getting the issue.

Have you noticed a pattern with the volume of data you're returning in the queries that fail?  The only pattern I've noticed so far is that the failures happen when the response payloads are large.

[2018-02-02 16:42] cyphercider commented on #17
I've put this patch code in the library.  I'm going to add some code to write the failed request / responses to the filesystem for repro purposes, but I haven't done it yet.

[code]

[2018-02-02 17:06] roscioli commented on #17
@tamethecomplex yes, on big data sets this is happening to me.

[2018-02-02 17:08] roscioli commented on #17
That patch does work. Would be great to get a real fix in though.

[2018-02-02 17:16] roscioli commented on #17
What is super curious though is that when I take the raw JSON string (which was throwing the error) and prepend `{` and run it through a JSON linter, the linter says it is fine JSON. However, when I updated the code with `jsonStr = ('{' + jsonStr)`, the code was still getting a JSON parse error but this time it said there was an extra `}` at the end... Are there phantom characters or something or

[2018-02-02 18:49] cyphercider commented on #17
@roscioli yes definitely - what I found is that when the leading '{' is missing, the trailing character is ASCII character ID 26, "substitute".  That character also broke the parse - so whenever I append the '{', I also have to remove the last character.

[2018-02-03 01:21] tkdave opened #22 "Error: Received message larger than max"
We are getting an error in the JS client using grpc
“Received message larger than max (4194538 vs. 4194304)“.

I noticed that this limitation was addressed in the golang client.
https://github.com/dgraph-io/dgraph/issues/396

Can we open this up on the JS client as well?

Looks like the ability to pass option to the client was added 5 days ago.
https://github.com/dgraph-io/dgraph-js/commit/f3bde42

[2018-02-03 10:17] gpahal commented on #22
Yes, you can pass options to `DgraphClientStub` as a 3rd argument. They are passed to the grpc client.

[2018-02-04 21:50] tkdave commented on #22
This worked for me once I upraded dgraph client to 1.0.4 and changed my grpc option to 'grpc.max_receive_message_length'. Thanks.

[2018-02-04 21:50] #22 closed

[2018-02-05 03:55] pawanrawal commented on #21
Thanks for the example @tamethecomplex. I can reproduce this issue but strangely it happens approximately 1/10 times. I am working on a fix though this issue belongs to the Dgraph server and not the `dgraph-js` client so I'd say create an issue there.

[2018-02-05 15:41] gpahal commented on #21
Issue created in the main Dgraph repo. [Link](https://github.com/dgraph-io/dgraph/issues/2090)

[2018-02-05 15:41] #21 closed

[2018-02-06 06:53] gpahal commented on #17
Has anyone been able to reproduce this? It seems the problem might be with the grpc server which will also affect other Dgraph clients. It's better to find and resolve the root cause.

[2018-02-06 11:40] cyphercider commented on #17
@gpahal , I just added some more logging that will allow me to provide a specific query / response for a repro.  Will let you know when I have some good data.  Probably by the end of the week.

[2018-02-07 12:59] lazharichir opened #23 "How to specify @lang in setSetJson() object?"
Hello! I cannot find this in the README.md but how do we go about passing the language for a predicate in the json object we want to mutate?
[code]
How do basically do this with the `Mutation.setSetJson(obj)`'s object?

p.s. and also how to delete `label@en` using the setDeleteJson()?

[2018-02-07 13:43] cyphercider commented on #17
@gpahal , I was able to reproduce this issue.  All I had to do was try to get a query result that has a sufficiently large response.  The repro is available here: https://github.com/tamethecomplex/js_issue_repro/tree/master/dgraph-js/issue_17.

The error you're looking for us "Unexpected token :" being thrown from the response.getJson() method:

![image](https://user-images.githubusercontent.com/1

[2018-02-07 19:03] emhagman commented on #17
I am also having this issue on an array returning 9000+ items.

[2018-02-07 22:56] pawanrawal commented on #23
The JSON below should work for setting and deleting.
[code]

[2018-02-08 06:51] gpahal commented on #17
This issue is either caused by Dgraph server returning incorrect JSON string in grpc response or the grpc node library. I'll try to reproduce this issue and also use the Go client and raw HTTP to figure out what is happening.

[2018-02-09 14:25] gpahal commented on #17
There was a bug in a utility function. This error should not show in v1.1.1-beta.1. If you face problems with that version, please let me know.

[2018-02-09 15:52] cyphercider commented on #17
@gpahal , I will let you know, thank you!

[2018-02-09 15:55] cyphercider commented on #17
@gpahal , would it be possible for you to publish the beta to npm?  Or I can clone and link if that is better for you.  I didn't see either a branch or a tag for the beta.

[2018-02-09 21:18] tamethecomplex opened #24 "After upgrading to grpc v1.9: "Error: Argument mismatch in makeUnaryRequest""
Versions:
dgraph-js: 1.1.0
dgraph: 1.0.2 or 1.0.3

This error happens when trying to perform any query against the database, after upgrading from grpc 1.8.4 to grpc 1.9.  I downgraded to 1.8.4 and the problem goes away.  Would be interested to know if anyone else can reproduce this.

[2018-02-10 13:16] gpahal commented on #17
It available on npm. Install it using `npm install dgraph-js@1.1.1-beta.2`.

[2018-02-10 13:30] #23 closed

[2018-02-10 15:07] gpahal commented on #24
Fixed in the latest beta. I will release a stable version soon. You can install the beta using `npm install dgraph-js@1.1.1-beta.2`.

[2018-02-12 12:44] cyphercider commented on #24
Confirmed fixed.  Thanks!

[2018-02-12 12:44] #24 closed

[2018-02-12 13:13] cyphercider commented on #17
Seems to be fixed now :-)

[2018-02-12 13:13] #17 closed

[2018-02-13 10:08] vespertilian opened #25 "Schema query not working with .getJson()"
I was just writing some tests, and I wanted to verify the schema state before running a function. So I constructed a schema query. I got the query to work, however `res.getJson()` does not extract the results from the response as I expected.

The results do seem to be present on the return object, and I worked out I could use `res.toObject().schemaList` to get them.

[code]

I am not sure what is

[2018-02-13 10:30] gpahal commented on #25
Look at this issue #20

[2018-02-13 10:30] #25 closed

[2018-02-13 10:49] vespertilian commented on #25
Ok thanks.

[2018-02-19 10:34] tamethecomplex opened #26 "Can getLatency() be made available on mutation response "Assigned" class?"
getLatency() is very helpful for query operations.  However, to measure performance, and separate network latency from database latency, we need to have the getLatency() function on mutation responses as well as query responses.

Can getLatency() be made available on the Assigned class as well?

[2018-02-20 09:42] gpahal commented on #26
This client library uses grpc to communicate with the Dgraph server. But the Dgraph server doesn't expose latency metrics for a mutation. So this is not possible until Dgraph server supports this.

[2018-02-20 09:43] gpahal commented on #26
You can create an issue on the main dgraph repo regarding this.

[2018-03-06 12:52] cyphercider commented on #26
@gpahal , FYI, pawan just merged this into master.

https://github.com/dgraph-io/dgraph/issues/2146#issuecomment-370678072

[2018-03-06 15:39] gpahal commented on #26
Support added in master with commit https://github.com/dgraph-io/dgraph-js/commit/eef5bbdfda8983f20bb4612ff5df5efb6c934b5f

[2018-03-06 16:02] cyphercider commented on #26
@gpahal thanks, can I get this with some tag on NPM?

[2018-03-06 16:08] gpahal commented on #26
I've published `v1.1.2-beta.1` with the `next` tag. So, `npm install dgraph-js@next --save` should work.

[2018-03-06 16:19] cyphercider commented on #26
@gpahal Thanks - I will plan to test as soon as I can get the latest dgraph master on dockerhub.  Closing for now.

[2018-03-06 16:19] #26 closed

[2018-03-06 22:04] pawanrawal commented on #26
The latest image has been pushed to docker hub. Give it a try now @tamethecomplex.

[2018-03-06 23:30] cyphercider commented on #26
@pawanrawal Looks good to me, thanks!

[2018-03-13 16:55] MichelDiz opened #27 "Fetch health condition (enhancement)"
Is it possible to add a fetch to the health condition of the instance?

I would like to make routine checks within my application.
Without having to turn to Prometheus / Grafana.

In my case, the Dgraph Server instance and Zero are behind an API. I do not expose them. I've tried using isomorphic-fetch but the result format is not compatible. And as I'm using Rancher, it gets tricky to keep exact i

[2018-03-16 04:06] #2 closed

[2018-03-16 04:06] manishrjain commented on #2
No need for Appveyor.

[2018-03-16 04:11] manishrjain commented on #27
If an external Dgraph client can talk to these servers, then you could potentially use some HTTP client to query for health.

[2018-03-16 14:42] MichelDiz commented on #27
Actually instances with the Dgraph stack are behind a Reverse Proxy. I did not want to open a public endpoint for it. An internal kind of "ping" from the client would help in this case.

But in the impossibility, no problem. It's just a case.

[2018-03-16 15:47] gpahal commented on #27
But the client also requires you to open a public grpc port. Is the client also behind the proxy?

[2018-03-16 17:04] MichelDiz commented on #27
I'm not using gRPC in my own user client. I'm query through a Graphql gateway. So That way I can take advantage of an Apollo (apollographql).

PS. We can see /health through grpc??

[2018-03-16 17:12] MichelDiz commented on #27
Another point is that I'm using Rancher. Often times when upgrade the instances to a more current version or even restart the service or any other task. The IPs change, although Rancher has an internal DNS sometimes inconsistent.

[2018-03-16 17:16] manishrjain commented on #27
This seems a bit specific use case to be added for general usage. @MichelDiz , I'm sure you can find a way around this, and use the HTTP based health checker.

[2018-03-16 17:16] #27 closed

[2018-03-16 17:42] MichelDiz commented on #27
I'll try this https://github.com/dgraph-io/dgraph/blob/0cbe6030569452f29dbaab6e37a2311b4800b71c/dashboard/src/actions/connection.js#L16 But I will have to deal with the internal domain thing.

[2018-03-19 16:32] cajus opened #28 "Unable to create an edge between two existing nodes"
I've just started to play around with the JS client for dgraph. Now I'd like link two nodes by a  *managed* edge like so:

[code]

That works fine in Ratle, but fails with JS:

[code]

which results in:

[code]

As I'm not yet completely familiar with the client, I'm wondering what the error means - and how I can get some more information out of it than the `setDebugMode(true)` offers.

[2018-03-20 11:17] cajus commented on #28
What's also not possible but mentioned in the dgraph mutation docs is a construct like this:

[code]
`Error: 2 UNKNOWN: Input for predicate managed of type uid is scalar`

[2018-03-20 16:29] cajus commented on #28
The schema for *managed* is:
[code]

If I delete it, dgraph creates a new schema entry which looks like that:

[code]

It even creates a string entry if I explicitly use grpc with `uid_val`:

[code]

[2018-03-21 00:57] pawanrawal commented on #28
The JSON has to be something like

[code]

All the values that are part of the object are considered as scalar values for the node. For it to be a linked node, it has to link to another object using the predicate.

[2018-03-21 07:23] cajus commented on #28
Sorry the one post was just an iteration about trying various ways to make it work. It was wrong, yes. If you take a look at https://github.com/dgraph-io/dgraph-js/issues/28#issue-306537728, the syntax was correct.  That works fine if the nodes are referenced inside of one mutation.

But: I'd like to add a *managed* edge between two *existing* nodes. If I take your example and replace `_:*` by `0x

[2018-03-21 07:39] pawanrawal commented on #28
Do you get this error `Transaction has been aborted. Please retry` or some other error while using `dgraph-js`?

[2018-03-21 07:43] cajus commented on #28
Just a second. I'll put up a modified version of the dgraph-js example. Code tells more than my broken english is able to do ;-)

[2018-03-21 07:56] cajus commented on #28
Take a look at [this repo](https://github.com/cajus/dgraph-js-test). Run `npm install` and `node dgraph.js` for the *dgraph-js* variant. And `node grpc.js` for the *grpc* variant. Requires a local dgraph instance at port 9080.

[2018-03-25 23:48] pawanrawal commented on #28
Ok, this was an interesting one. You were missing an `await` before the [second mutate](https://github.com/cajus/dgraph-js-test/blob/990f4b25b6e309298745e53c41053c64613453f2/dgraph.js#L81) because of which Commit was called before Mutate returned.

Commit here should return an error since `StartTs` was zero, the error being returned currently was misleading. I have submitted a fix to master with h

[2018-03-25 23:48] #28 closed

[2018-03-26 08:47] mofodox opened #29 "existsSync in not a function"
Hi there,

I created a react project app using the `create-react-app` CLI and installed dgraph and grpc via `yarn add`. And I'm currently facing an issue which it says `existsSync in not a function`. And when I clicked on the error, it brings me to the `grpc_extension.js`.

Here's the screenshot to the error: [error_image](https://cl.ly/261S3M1J1q2m). Hope to hear from you guys soon! Thank you!

[2018-03-26 09:56] gpahal commented on #29
Which version of grpc are you using?

[2018-03-26 13:54] cajus commented on #28
Doh. I didn't catch that one. Thanks for your help!

[2018-03-27 01:08] mofodox commented on #29
@gpahal I'm using the latest version of grpc which is 1.10.0

[2018-03-27 04:34] mofodox commented on #29
@gpahal This is what I [found](https://github.com/grpc/grpc/issues/11435). What's your advice on this?

[2018-03-27 05:06] gpahal commented on #29
Can you share a bit of your code which is causing this error?
I tried out grpc v1.10 for a sample program I have. I was not able to reproduce this issue.

[2018-03-27 05:08] gpahal commented on #29
Oh! I just realized. This client is a node.js client and not for JS frontend. This is because of gRPC. It doesn't support browsers as it's based on C++ code and HTTP/2.

[2018-03-28 05:55] #29 closed

[2018-04-04 14:35] labs20 opened #31 "dropAll working?"
Hi! I'm new on board and trying DGraph for the first time. Really excited about it, must say! =]

I have the code below, but when I call resetDgraph, my data is still there. What I'm doing wrong here?

[code]
Thanks, and  kudos for the work.

[2018-04-04 15:25] gpahal commented on #31
This should work. What version of Dgraph are you using?

[2018-04-04 16:09] labs20 commented on #31
v1.0.4. Just downloaded the docker image as per docs and running via docker-compose (and being struggling the last hour trying to map dgraph data folder to a local mount).

[2018-04-05 06:23] gpahal commented on #31
I tried it out and it's working on my machine. Here is the code:

[code]

[2018-04-05 06:24] gpahal commented on #31
Can you share a little bit more about how you are using the resetDgraph function?

[2018-04-05 14:47] labs20 commented on #31
Hi, thanks for your reply.

I just tried again today and it worked. Maybe it was just a noob thing, but maybe (and just maybe) could it be something related to some sort of timeout? I had about 40k vertices and each time I tried it took a little while to complete.

If it happen again I'll try to be more specific about. Sorry for a probably false alarm.

Thank you very much.

[2018-04-05 14:57] gpahal commented on #31
Based on your description, it's possible that it was an issue with Dgraph itself and not the client.

I am closing this issue right now as right now this doesn't seem to be a client side problem.

[2018-04-05 14:57] #31 closed

[2018-05-03 12:16] AlexandreRoba opened #32 "[Question] Can dgrpah-js used the HTTP endpoint instead of the gRPC?"
Thanks for your help.

[2018-05-03 17:54] gpahal commented on #32
No. Currently, dgraph-js supports only gRPC. You can look at the documentation on how to connect  to Dgraph through [raw HTTP](https://docs.dgraph.io/clients/#raw-http).

[2018-05-03 19:38] good-idea opened #33 "[Question] Why can queryWithVars variables only be strings, not ints?"
https://github.com/dgraph-io/dgraph-js/blob/64dfa8c630c72bd7e0f95747aa14ae9fc1a71596/tests/txn.spec.ts#L49-L60

I have a query function that looks like this:

[code]

One issue is that this variable is simply discarded, then I get the error:
`Error: 2 UNKNOWN: : strconv.ParseInt: parsing "": invalid syntax` - this would be much more helpful if it said something like "Only strings are allowed as va

[2018-05-04 05:09] gpahal commented on #33
It's how Dgraph works. To pass an integer 5, you either have to define a schema or use the NQuad `<uid> <age> "5"^^<xs:int> .`. See [Language and RDF Types](https://docs.dgraph.io/mutations/#language-and-rdf-types)

[2018-05-04 14:59] lazharichir opened #34 "Please use * with delete operation for non-list type: [_predicate_]"
Hello - quick question!

[code]
Returns:
[code]
The predicate `topic.external.wikidata` is a `int`, non-list.

Anything I am missing? I want to delete the predicate `topic.external.wikidata` for the `uid` specified.

[2018-05-04 18:15] good-idea commented on #33
Got it, Thanks!

[2018-05-04 18:15] #33 closed

[2018-05-05 10:42] #32 closed

[2018-05-07 05:31] gpahal commented on #34
It's working with this example.

[code]

[2018-05-07 05:32] gpahal commented on #34
Can you share a bit more of your code because the error seems to indicate predicate name `_predicate_`

[2018-05-13 11:26] ondrowan opened #35 "It's not possible to distinguish between errors"
Since this library uses only native `Error`, it's hard to distinguish the reason why transaction failed. The only way at the moment is to compare error message, which is very cumbersome. I'd like to be able to do the following:

[code]

Does this make sense or is there any better way to achieve this?

[2018-05-13 11:47] gpahal commented on #35
dgraph-js doesn't use different error types but uses global error constants, so you can do:
[code]

Look at file [src/errors.ts](https://github.com/dgraph-io/dgraph-js/blob/master/src/errors.ts) for all the error values.

[2018-05-13 11:49] ondrowan commented on #35
I didn't realize those errors were instantiated only once. Thanks 👍

[2018-05-13 11:49] #35 closed

[2018-05-14 03:38] good-idea opened #36 "How to avoid errors on rapid queries?"
I'm setting up some integration tests, and coming across the "Error: Transaction has been aborted. Please retry" error. There's a function that resets the data I am mutating before and after each test. It works about 80% of the time, but otherwise is throwing the error.

If I put a short async 'sleep' delay in the beforeEach/afterEach functions, it works as expected. But, this doesn't leave me con

[2018-05-14 05:48] gpahal commented on #36
An aborted error is returned if other transactions concurrently modify the same data that was
modified in this transaction. It is up to the user to retry transactions when they fail. This is more of a dgraph issue rather than the client's. You can create a new issue in the main dgraph repo.

Similar issues in dgraph:
- https://github.com/dgraph-io/dgraph/issues/2018
- https://discuss.dgraph.io/t/a

[2018-05-16 17:49] good-idea commented on #36
Got it, thanks @gpahal

Also, for anyone coming here concerning `dgraph-js`, I was simply forgetting to `await` a `txn.commit()` in one of the functions used (but not shown) above. 🤦🏼‍♂️

[2018-05-22 09:47] #34 closed

[2018-06-07 18:22] selmeci opened #37 "TLS client Authentication?"
Hi,

I would like to secure my connection with TLS.
How I can setup client authentication?

Thank you.
Best regards,
Roman

[2018-06-08 09:03] gpahal commented on #37
You need to setup TLS as shown here: https://docs.dgraph.io/deploy#tls-configuration

On the client side, you need to add credentials to the DgraphClientStub constructor sa shown below:

[code]

[2018-06-11 11:49] selmeci commented on #37
Hi @gpahal, thanks for hints ;).
There is some issue with TLS setup between dgraph and js but I found working solution.

[2018-06-11 11:49] #37 closed

[2018-06-12 20:06] labs20 opened #38 "Unable to connect to server - 14 UNAVAILABLE: Trying to connect an http1.x server"
Hi. Runing DGraph 1.0.5, dgraph-js 1.2.1 and grpc 1.12.3.

Working with everything installed until now at my own machine (Mac Air), all good, no problems. Installed a new server on a windows machine to centralize things and when I try to connect to it I got this error:
[code]

My test function:
[code]

If I start ratel locally on my mac and try to connect to that same address with it, it works wit

[2018-06-12 20:07] manishrjain commented on #38
You're using the wrong port. It should be 9090. Look at ports usage:
https://docs.dgraph.io/deploy/

[2018-06-12 20:12] labs20 commented on #38
But Ratel is connecting trough that exactly address, and changing it its giving me Connect Failed instead.

Let me double check things here.

P.s: mmmmm... its because ratel is probably connecting trough http protocol, and thus the 8080.

[2018-06-12 20:28] labs20 commented on #38
Yes, you right. Or almost. =]

The port is wrong, but the right one its actually the 9080. I've started the server like this:
[code]

and zero like this:
[code]
and the default port is 9080

![captura de tela 2018-06-12 as 17 27 35](https://user-images.githubusercontent.com/4047789/41315481-fbeeb45c-6e65-11e8-9a16-a3f9831a5dff.png)

But, ok. Its working now.

Big thanks!

[2018-06-12 21:39] #38 closed

[2018-07-24 13:55] Oroneki opened #39 "Mutations doesn't persist immediatly after calling "commit""
[code]

I am testing the above method. When I use ratel to see if the changes were persisted I can confirm they were, but my test always show the debug messages "assigned --- ", "commit --- " and "foi --- " after the test been runned. My test is not the problem since I make a call to that method and AFTER the method returns I do another cal to the function below:

[code]

The value "confirmado" I

[2018-08-17 16:30] paulftw commented on #39
Your mutate method is async, so it returns *before* dgraph callbacks have completed.
If you do something like
[code]
You should see that the data is read back correctly, even without a setTimeout. This is normal behaviour of JS async methods.

I haven't tested this code locally, but pretty sure that's the culprit. Closing the issue for now, if my suggested fix still has a problem - please feel fre

[2018-08-17 16:30] #39 closed

[2018-08-30 11:24] Fohlen opened #40 "Facets aren't working with setSetJson"
Howdy! Unfortunately facet's are not quite working [as documented](https://docs.dgraph.io/mutations/#facets).

When I try the following code:

[code]

The below query:

[code]

will not include the `date` element. However if I manually mutate on ratel via

[code]

it does work fine.
Can you please explain how this is intended to be used, and clarify whether this is a bug or just weirdly documented

[2018-09-20 15:22] yashafromrussia commented on #40
I had a similar problem. It worked when I put the facet inside of the predicate value:

[code]

[2018-09-26 21:26] aryzing opened #41 "No default ES module export when using `import dgraph from "dgraph-js"`"
I'm currently bundling my server project using webpack, while using babel-loader for the transpilation (set with the `modules: false` option so module import code is handled by webpack.

When importing dgraph-js, it throws a runtime error if I import it without star, but works fine with the star import:

[code]

The last time the package was published was about 6 months ago, not sure if trying aga

[2018-09-27 21:56] aryzing opened #42 "Debug mode produces `\n` instead of actual newline in console"
When debug mod is turned on, the console output is not properly formatted. The newlines appear as the sequence `\n` instead of actual newlines as shown in the following example output:

[code]

[2018-09-27 22:21] danielmai commented on #42
That looks like the expected output. The query text itself contains newlines, but the entire debug output is in JSON as a single line.

[2018-09-27 22:49] aryzing commented on #42
What are the advantages of having it as is? I'd much prefer a formatted output for easier reading. Having the option to choose would be nice.

[2018-09-27 22:53] danielmai commented on #42
If the newlines weren't escaped, the debug output wouldn't be valid JSON and thus not parse-able.

You could process the `query` key and print out the query if that's what you need.

[2018-09-27 22:54] #42 closed

[2018-09-28 18:15] aryzing opened #43 "Error parsing JSON from getData()"
The code I'm running looks like

[code]

However, the `getData()` call is reporting a JSON parse error:

[code]

[2018-09-28 18:17] aryzing commented on #43
Just ran `result.getData_asB64()` and it produced an empty string, so perhaps the issue is that `getData()` is not checking whether it's receiving an empty string.

[2018-09-28 18:28] aryzing opened #44 "Cleaning up after performing an Operation"
The Readme discusses how to perform and clean up after transactions, but only discusses how to perform operations, such as updating the schema. In production, is it necessary to clean up after operations, such as closing or discarding the Operation object? An example in the Readme would be great!

[2018-10-24 12:54] thewisewolfHoro opened #45 "Some trouble with the final query"
Like below,I get a [] at last.
I tried run the query part separately, it will work and I can get the correct result, and the data was successfully insert into the database.I hope some one can help me to explain that. XD

`Created person named "Alice" with uid = 0x8e

All created nodes (map from blank node names to uids):
blank-0 => 0x8e
blank-1 => 0x8f
blank-2 => 0x90
blank-3 => 0x91

{ all: [] }

[2018-12-12 04:25] MichelDiz opened #46 "Add a LRU cache for Client"
To reduce the overhead and increase performance.

e.g: http://avoidwork.github.io/tiny-lru/

Or any other in this list https://github.com/dominictarr/bench-lru

[2019-01-03 15:39] AlexandreDaSilva opened #48 "Calling discard() after mutations throws the error: "Transaction has been aborted, please retry." (Code 10)"
Hello!

I think the client has a strange behavior when we call `discard()` after some mutations: it throws the following error : `Transaction has been aborted. Please retry`. I don't think it is useful, because if I call this method, it's precisely because I want to abort the transaction (and didn't call `commit()`)...

In this case, I noticed that the error object has an additionnal property `cod

[2019-02-02 03:29] ashokvishwakarma opened #49 "Unable to connect to server"
I am not able to connect to dgraph using dgraph-js

[code]

Executed the below commands and dgraph-ratel is working fine

[code]

My dgraph-ratel is connected on localhost:8080

Any idea what I have missed?

[2019-02-15 17:30] mkucharz commented on #37
@selmeci what is you working solution? I'm try many different thing without success... I tried common way and with nginx grpc ssl proxy. It look fro me like some kind of problem with "dgraph-js" library.

[2019-02-15 17:40] mkucharz opened #50 "TLS connection - Error: 14 UNAVAILABLE: Connect Failed"
I'm trying to set up secure GRPC connection. What have I done so far:

- generate certs using `dgraph cert`
- verify fingerprints and certs using open ssl  (`openssl verify -verbose -CAfile ca.crt node.crt`)
- check the connection and certs crescents with `openssl s_client -connect 176.9.122.98:9080 -CAfile ca.crt`
- set up connection:
[code]
- try to connect: `Error: 14 UNAVAILABLE: Connect Faile

[2019-02-18 09:26] selmeci commented on #37
@mkucharz Unfortunately I did not solve it directly and I have to use nginx grpc ssl proxy for authentication.

[2019-02-19 23:55] danielmai commented on #49
Looks alright to me. Is that your full source?

Here's what I ran, which is essentially identical to what you did:

[code]

Output (not undefined):
[code]

[2019-02-20 20:43] yashafromrussia commented on #50
It's working for us (though we're not using nginx... couldnt set up gRPC and SSL through it successfully).

But anyways, our grpc credentials look like this:

[code]

[2019-02-20 23:56] danielmai commented on #50
@gorjuspixels is right. If the system isn't configured to trust the root CA generated by `dgraph cert` then you must provide it along with the client certificate and client certificate key to be properly authenticated.

Also, you shouldn't set `https://` in the address name. The address host and port is sufficient.

[2019-02-21 22:25] danielmai commented on #50
There is now example code for connecting dgraph-js and Dgraph with mutual TLS. Please see the TLS example linked in the README:

https://github.com/dgraph-io/dgraph-js#examples
https://github.com/dgraph-io/dgraph-js/tree/master/examples/tls

Try out the example feel free to re-open this issue if you're still having the issue.

[2019-02-21 22:25] #50 closed

[2019-02-24 22:55] mkucharz commented on #50
@danielmai `https` was left after testing `dgraph-js-http`.. I've updated original question (because I still had a problem even without https).

Anyway, your @gorjuspixels and @danielmai responses were very helpful.

It turned out that the problem was in common name of the certificate... I forgot to generate it with additional host names, more info here:
https://docs.dgraph.io/deploy#file-naming-c

[2019-02-26 18:25] mkucharz commented on #37
@selmeci maybe this will help if you still need it: https://github.com/dgraph-io/dgraph-js/issues/50

[2019-03-01 18:22] paulftw commented on #46
Please refer to the discussion in the dgraph-js-http. Closing for now

[2019-03-01 18:22] #46 closed

[2019-03-01 18:32] paulftw commented on #45
Closing the issue as it doesn't have a code sample to reproduce and has been stale for quite some time.

Feel free to post it as a question in our [community forums](https://discuss.dgraph.io/) or re-open if more details are available.

[2019-03-01 18:32] #45 closed

[2019-03-05 14:22] paulftw commented on #49
I'm closing this issue due to inactivity and also because we cannot reproduce the problem.
Please provide more details in Forums https://discuss.dgraph.io and once it's confirmed to be a bug with the library please do reopen this or create another issue

[2019-03-05 14:22] #49 closed

[2019-03-05 14:30] paulftw commented on #48
@AlexandreDaSilva thank you for reporting this issue and taking your time to investigate it further.

It does look like a bug - i will try to reproduce it locally and if it's still happening will definitely fix it.

I suspect this is caused by another write transaction that has been committed before discard() and made the one being discarded a conflict. But server code to check for transaction con

[2019-03-05 14:37] paulftw commented on #44
Cleaning up a transaction is a necessary step because otherwise uncommitted writes can stay on the server indefinitely.
Cleaning up after operations is not needed because schema change is effectively a "commit now" operation. Normal javascript garbage collector will pick up the objects your app no longer holds links to.
I will see if this can be explained better in the docs, but in my experience n

[2019-04-03 08:12] PraveenKumarPalai opened #51 "Query for a node, filtering using uid of child nodes (relations)."
If have a schema "Like" that has relations to User Schema(user_id) and Post Schema(object_id). How ca I query for the "Like" nodes that have ```user_id = (some_uid)``` and ```object_id = (some_uid)```.

[2019-04-03 11:10] paulftw commented on #51
@PraveenKumarPalai your question is about the query language and not specific to dgraph-js.

Support Engineers and Community will be happy to help you if you post your setup and requirements to https://discuss.dgraph.io/

I'm closing the issue as it's outside the scope of the client library

[2019-04-03 11:10] #51 closed

[2019-04-04 01:58] PraveenKumarPalai commented on #51
Thanks @paulftw! Do we have a slack channel for these type of discussions?

[2019-04-04 04:07] MichelDiz commented on #51
Here https://dgraph.slack.com

[2019-04-04 06:18] PraveenKumarPalai commented on #51
Can you send me an invite. I am not able to login.
email: praveen@impulsiveweb.com
Thanks

[2019-04-04 16:40] danielmai commented on #51
Hey @PraveenKumarPalai, I sent you an invite to our Slack community. Welcome!

[2019-04-05 04:38] PraveenKumarPalai commented on #51
Thanks @danielmai :)

[2019-04-10 19:25] danielmai opened #52 "Support best-effort queries."

[2019-05-12 04:21] MichelDiz commented on #40
Yeah, the Right usage is as gorjuspixels shows.

[2019-05-12 04:21] #40 closed

[2019-05-12 04:35] MichelDiz commented on #41
If you're using TypeScript you should use the star.

[2019-05-12 04:35] #41 closed

[2019-07-03 17:35] danielmai opened #54 "Update README on how to run tests"
I tried `npm test` but it says I need yarn these days, so I had to install yarn first.

[2019-07-03 17:36] danielmai commented on #54
This is what worked for me, though I don't know if that's the official way:

[code]

[2019-07-03 17:38] danielmai opened #55 "Update tests to use test ports for the Dgraph cluster."
The tests should be updated to run against the Dgraph test cluster defined in this docker-compose.yml file: https://github.com/dgraph-io/dgraph/blob/43c8d38499fb8795e6e5bb5f6a5facf665f36d64/dgraph/docker-compose.yml

- [ ]  Alpha runs on gRPC port 9180.
- [X] Enterprise ACLs are enabled and require `groot` login (this is already done).

[2019-07-03 18:42] danielmai commented on #55
When changing to port 9180 there's a test that fails when using the default constructor for the client stub, which defaults to port 9080:

https://github.com/dgraph-io/dgraph-js/blob/21563532863a01a639b4ddf4848e3de3de77b3e0/src/clientStub.ts#L58-L61

To fix this we should do one of two things (or both):

1. Remove this test that involves the default constructor
2. Remove setting a default address

[2019-07-05 15:57] paulftw commented on #55
@danielmai
[this change](https://github.com/dgraph-io/dgraph-js/commit/7652bfee9185d1e7650e6f244ba2c49932ee5a60) allows specifying dgraph port via an env var:
`DGRAPH_SERVER_ADDR=localhost:9180 yarn test`

It also removes the constructor unit test.

Please re-open if you need anything else

[2019-07-05 15:57] #55 closed

[2019-07-08 21:50] danielmai opened #56 "Refresh expired JWT token for ACL access."
When I run `yarn && yarn test` the bank.spec.ts test fails with this error about JWTs:

[code]

dgraph-js should do the following like dgo and dgraph4j already do:

- check if the JWT is expired in every request and, if the JWT is expired, request a new JWT using the refresh token.

[2019-07-09 23:52] danielmai opened #57 "Support read-only queries."
#52 will need read-only support first in order to also support best-effort queries.

[2019-07-13 16:05] jpstrikesback opened #59 "setSetJson() does not support named blank nodes"
I'm getting errors when running a mutation with a named blank node via the dgraph-js client (same works in ratel)

[code]
[code]

this adds a bunch of impedance when writing dependant mutations...

[2019-07-13 16:17] MichelDiz commented on #59
Are you parsing the obj to JSON? it's not clear from your example.

This should be the valid JSON.

[code]

Also, from your test is it working without blank nodes?

[2019-07-13 16:29] jpstrikesback commented on #59
Thanks for the fast response!

It is sent just like in the examples (if I send a pure JSON string it chokes of course).

[code]

If I leave the uid field out the blank nodes come back fine via `done.getUidsMap().get('blank-0')`

[2019-07-13 21:15] MichelDiz commented on #59
I've did a quick test here and your example is working normally. I thought you were doing something else.

BTW - Ratel uses the HTTP API not any JS client.
[code]

[2019-07-13 21:15] #59 closed

[2019-07-13 21:36] jpstrikesback commented on #59
Interesting! Are you using 1.1? I’m on 1.0.16

On Sat, Jul 13, 2019 at 5:15 PM Michel Conrado <notifications@github.com>
wrote:

[2019-07-13 21:59] MichelDiz commented on #59
` "dgraph-js": "^1.3.0-rc1"`

I'm using Dgraph from Master.
[code]

[2019-07-13 22:04] MichelDiz commented on #59
I've just tested on v1.0.16 and is working.

[code]

[2019-07-13 22:43] jpstrikesback commented on #59
Oh wow! I owe you a beer! It turns out that a query that happens after the mutation but in the same transaction is where the issue was! I tested with your code and of course it worked....The blank node was making its way into the query: `func(uid(_:somename))...` and it was choking there. Ugh :/

Thanks for all your effort looking into this, super appreciated!!!

[2019-07-15 23:51] emhagman commented on #57
All set with #58

[2019-07-15 23:51] emhagman commented on #52
All set with #58

[2019-07-16 00:46] campoy commented on #57
Awesome, we can close this issue then @danielmai ?

[2019-07-16 00:47] campoy commented on #52
Awesome, we can close this issue then @danielmai ?

[2019-07-16 12:16] paulftw commented on #57
Added in 65d45150cf338a2126960e71179d6c9c3c6c4d51

[2019-07-16 12:16] #57 closed

[2019-07-16 12:17] paulftw commented on #52
Added in 65d45150cf338a2126960e71179d6c9c3c6c4d51

[2019-07-16 12:17] #52 closed

[2019-07-16 16:32] danielmai commented on #56
The test does not pass with the test cluster as configured in [dgraph/dgraph/docker-compose.yml](https://github.com/dgraph-io/dgraph/blob/e1efaa3334dd73796b1b3adce67d215ca3abacbb/dgraph/docker-compose.yml). Specifically, when the ACL access TTL is shortened from the default, then the client should use the refresh token to request another access token.

[code]

[2019-07-31 10:48] felixfbecker commented on #35
This is not a good practice, because stack traces are generated at the time of instantiating the error. Therefor the error won't have a useful stacktrace

[2019-07-31 10:52] felixfbecker opened #61 "Errors are unhelpful"
I am running a mutation that fails with this error:
[code]
The mutation contains thousands of nquads, so I have no idea which one is wrong. I would expect the error to include some properties about which nquad failed to get added, at least the name of the predicate. The error code also always seems to be 2, and the stack trace doesn't include the user code.

As a comparison, errors from the node P

[2019-07-31 18:56] felixfbecker opened #62 "API is not ergonomic"
It seems like the API is purely a generated gRPC client. This makes it very unergonomic for JavaScript in many places:

- None of the classes have constructors. For example, I can't pass the value directly to `new Value()`, instead I have to call `value.setStringVal('abc')`. One would expect an API more around object literals rather than getter and setter methods
- The API allows contradictory sta

[2019-08-06 00:33] campoy commented on #62
Hi @felixfbecker,

It is true this is a pretty thin layer built on top of the autogenerated gRPC code.
We are currently growing our teams to be able to have the bandwidth to improve all of our clients (and also provide new ones).

We will keep this issue open and track improvements, feel free to send more issues if you see other specific parts of the API that should definitely be fixed.

Thanks!

[2019-08-06 00:36] campoy commented on #61
Thanks for the report, @felixfbecker

I do wonder whether this is an issue with the error message itself (so dgraph-io/dgraph) or the way it ends up being displayed (this repo).

@paulftw, could you check whether we could improve the error message on this repository by at least showing which of all of the mutations was actually wrong?

[2019-08-06 00:39] felixfbecker commented on #61
Actually I noticed that the name of the predicate here was "contents", it was just not clear because it wasn't quoted and made sense as a sentence. But I think overall that would not help a lot - I'd still need a proper stack trace, maybe the index of the nquad in the list, the actual UID values of subject and object - anything that helps to find the bug

[2019-08-06 00:50] campoy commented on #61
Yeah, I think the message can be improved, yeah.
I'm sure @paulftw will have a look at the issue (later on, as he's in a different timezone).

[2019-08-06 04:12] zakmandhro commented on #62
@felixfbecker If you are looking for a higher level of abstraction for Dgraph, you may want to check out https://github.com/gverse/gverse, an open-source Object-Graph Mapper for Dgraph. It is built on dgraph-js.

Gverse allows you to define vertices as classes:

[code]
and then query, mutate, etc. with ease:

[code]

Gverse also provides a friendlier API for connections, transactions, relationship

[2019-09-08 19:46] aakside opened #68 "Simple example broken with dgraph-js 2.0.0"
I'm unable to run the [simple example](https://github.com/dgraph-io/dgraph-js/tree/master/examples/simple) using dgraph-js 2.0.0
[code]

package.json:
[code]

[2019-09-08 20:47] #68 closed

[2019-09-08 20:48] aakside commented on #68
I tested against the wrong version of dgraph 😳

[2019-09-09 14:15] prashant-shahi commented on #54
`npm test` and `npm run test` works now.

[2019-09-09 14:15] #54 closed

[2019-09-10 17:48] #56 closed

[2019-09-12 12:53] prashant-shahi opened #71 "Uncaught error - when ACL feature is turned on, and login credentials not passed"
When I ran the example script against *dgraph cluster* with **ACL** feature turned on, I encountered the following error, which wasn't of much help.

[code]

Meanwhile, we need to have more tests around ACL as well.

[2019-09-12 14:19] paulrostorp opened #72 "Getting error when running doRequest"
Version 2.0.1:
Hi I am getting the following error when running any code from the readme...
[code]
any suggestions ?

[2019-09-13 08:31] prashant-shahi commented on #72
@paulrostorp May I know which Dgraph version are you running?

[2019-09-13 08:32] paulrostorp commented on #72
1.1.0
Checked in the logs of each container, all showing v1.1.0, and running without problems. Running new upserts from ratel dashboard works as well.
Getting this error in the js client when doing anything more than initializing the client...
Also tried running with play.dgraph.io as the db, but same error occurs.

[2019-09-13 08:43] prashant-shahi commented on #72
That shouldn't be the case.

It would be really helpful if you could share the `docker-compose` file (if any) and the minimum code snippet that causes the error?

[2019-09-13 08:50] paulrostorp commented on #72
My docker-compose:
[code]

attempted code:
[code]

But any code from the readme or examples triggers the same error. I have performed a "drop all" on my db as well.

[2019-09-13 09:12] prashant-shahi commented on #72
There doesn't seem to a problem running the following code snippet.

[code]

[2019-09-13 09:14] prashant-shahi commented on #72
can you delete any previously existing data (volumes)?
Also, make sure to pull the latest version from *docker-hub* - preferably use `dgraph/dgraph:v1.1.0`.

[2019-09-13 09:28] paulrostorp commented on #72
I just uninstall and reinstalled dgraph-js with yarn, thinking that maybe v2.0.1 had been installed improperly and strangely this is now the error I get:
[code]
And with your code example I get this error:
[code]

By "deleting data volumes" you mean delete the "p", "w" and "zw" folder in "/data" ? If so I had already done so when updating to v1.1.0

[2019-09-13 09:31] pepoospina opened #73 "Upsert should always return the uid"
## Experience Report

### What you wanted to do

I am using an upsert operation as described in [dgraph-js](https://github.com/dgraph-io/dgraph-js#running-an-upsert-query--mutation) to **get or create** a new node with a given external id called `did` and return its `uid`.

### What you actually did

This is my code. It works the first time the node with the external id `did` does not exist. But i

[2019-09-13 09:38] prashant-shahi commented on #72
I see. The Dgraph client is not able to be initialized properly.

First of all, let's pull the latest image from docker-hub, and the make sure Dgraph cluster is up and running. Try running some mutation and queries from either curl/tour/ratel.

Then, let's make sure `DGRAPH_HOST` env var is accessible.
If not, using `process.env.DGRAPH_HOST+":9080"` will be getting resolved to `undefined:9080`.

D

[2019-09-13 09:45] prashant-shahi commented on #71
Even when the Dgraph cluster is not properly up and running, or invalid gRPC address is used, the same issue was encountered.

[2019-09-13 10:01] paulrostorp commented on #72
Reinstalling dgraph didn't work but `rm -rf node_modules && yarn install` did... or maybe a combination of both...

[2019-09-13 10:01] #72 closed

[2019-09-13 10:03] paulrostorp commented on #72
Thank you for your help. Are there any steps you'd like me to take in order to better understand the root of the problem ? Personally I cannot make sense of the errors thrown

[2019-09-13 10:15] prashant-shahi commented on #72
Glad to know that issue is resolved.

I had raised an issue similar to this one yesterday #71.

Thanks, Paul! We will be working on improving the error messages.

[2019-09-13 17:50] campoy commented on #73
Thanks for your report, @pepoospina

Moving this issue to the dgraphjs repository.

[2019-09-14 15:34] pepoospina commented on #73
@campoy I am not sure is an issue of dgraph-js. The standard dgraph `upsert` operation will not return the `uid` if the entry already existed.

[2019-09-15 03:50] markmssd opened #74 "Mutate is not part of dgraph.API as of v1.1.0"
I'm using the sample test file to run `e2e` tests.

However, something is off in this simple test file when using DGraph `v1.1.0`:
https://github.com/dgraph-io/dgraph-js/blob/master/examples/simple/index.js#L71

If used against older versions, `<= v1.0.17`, it executes successfully.

[2019-09-15 12:47] prashant-shahi commented on #74
@markmssd The dependency versions have been updated for the examples.

Thanks for pointing it out.

[2019-09-15 12:47] #74 closed

[2019-09-17 16:19] campoy commented on #62
Wow, that's a great project @zakmandhro!

@hackintoshrao, could you make sure we add this to our docs on the part of unofficial clients?

Also, we should definitely send a t-shirt to @zakmandhro for the amazing work. Please send me an email with you address to francesc@dgraph.io and I'll make sure you receive one.

[2019-09-20 08:23] #71 closed

[2019-09-25 05:08] lhr0909 opened #80 "Upgrade google-protobuf dependency version to 3.8.0+"
We have encountered an issue with the generated grpc files in the `2.0.1` npm lib where it is using features that only exist in `google-protobuf@3.8.0+`.

https://github.com/dgraph-io/dgraph-js/blob/master/generated/api_pb.js#L368

when we were trying to run with the lower version it we get yelled at for the below error:

[code]

After installing `google-protobuf@3.9.2` it fixes the issue.

Releve

[2019-09-29 21:31] scroobius-pip opened #83 "TypeError: Cannot read property "serializeBinary" of undefined"
versions:
dgraph-js: 2.0.1
grpc: 1.24.0
dgraph: 1.1.0

Coded using the 1.X.Y dgraph-js library with dgraph 1.0.1 , then i update the library and database to the latest versions and get the following error:
"TypeError: Cannot read property 'serializeBinary' of undefined"

here's the offending code that worked perfectly on previous version but not this latest version:

[code]

here's how i'm initial

[2019-09-30 08:51] prashant-shahi commented on #83
Thanks, @scroobius-pip for raising this issue. It happens when you fail to create a `dgraphClient`, usually because of invalid gRPC address or invalid ACL login credentials.

This issue has been resolved with this PR #77. ~We will be releasing the `v2.0.2` soon.~

We have released [`v2.0.2`](https://github.com/dgraph-io/dgraph-js/releases/tag/v2.0.2).

[2019-09-30 16:24] #80 closed

[2019-10-01 16:26] prashant-shahi commented on #71
Turns out this issue also happens when an invalid schema is passed.

It will be resolved with the release of `v2.0.2`.

[2019-10-01 19:53] #83 closed

[2019-10-06 23:09] alexnitta opened #87 "Simple example throws error: "Missing colon in type declaration.""
When I follow the instructions in dgraph-js/examples/simple/README.md, I get this error when running `node index.js`:

[code]

Looking at the schema in index.js starting on line 22, I noticed that there are no predicates defined under the Person or School types. They each have what looks like a reference to the predicates defined below, for example:

[code]

However, I found that I can resolve thi

[2019-10-07 13:00] paulftw commented on #87
Shorter form field declarations (without the explicit type) is what Dgraph will settle on eventually. For now users have to add colon and a type name.

@prashant-shahi we need to update examples to work with current stable release of Dgraph and keep support for future versions in a branch.

[2019-10-07 13:08] alexnitta commented on #87
@paulftw That's good to know, thank you.

Can you explain why this schema from my project is also throwing the same error?

[code]

At least I think it's the same error; it has the same error code, although my log looks a bit different:

[code]

[2019-10-07 13:12] paulftw opened #88 "Documentation on pre-v7.6 examples should be removed"
`examples/simple` has `index-pre-v7.6.js` according to docs it's for versions of node from 2017.
- We don't offer legacy code for other examples
- Support for all obsolete nodejs versions is not our goal
- node 7.6 was released in 2017, current LTS node is 10.16, latest is v12.11. There are no good reasons to support that environment, esp. when current dgraph-js is not supposed to be used with Dgr

[2019-10-07 13:19] paulftw commented on #87
I've tried uploading your second schema to a local dgraph v1.1.0 instance and it worked fine.
I get an error only if I don't add a newline character at the end of the type declaration.

My guess is you are either looking at an old error message or your code is somehow sending the old schema definition

[2019-10-07 16:32] alexnitta commented on #87
Thanks for trying that out from your end. I have it working now. I think that somehow the old schema definition was cached because of how my Docker volume is set up. I was able to resolve it by removing the container and its volume and starting without a volume.

I would not have expected this to make a difference, since I was using `op.setDropAll(true);` before doing `op.setSchema(schema);`.

[2019-10-09 10:49] prashant-shahi commented on #87
@paulftw Let's only make the changes to the test cases as the CI test cases run on Dgraph `master`.

Changes to sample examples can wait till we make the Dgraph changes public. Maintaining a separate branch for every change would be more iterative.

[2019-10-09 10:49] prashant-shahi commented on #87
@alexnitta Thanks for raising this issue. We have reverted the type system changes from examples for now.

You could refer to the [Type System Docs](https://docs.dgraph.io/query-language/#type-system). Please be mindful of the Dgraph manual version on the left sidebar.

[2019-10-09 10:49] #87 closed

[2019-10-09 14:00] paulftw commented on #88
@prashant-shahi thanks for dropping that old example, but now README contains references to a file that no longer exists: https://github.com/dgraph-io/dgraph-js/tree/master/examples/simple#run-the-sample-code

We should aim to always update code and docs in the same pull request.

[2019-10-10 10:10] prashant-shahi commented on #88
@paulftw Alright remember to do that. For now, I have raised a PR for updating docs. Please do review it.

[2019-10-10 19:32] #88 closed

[2019-11-16 18:15] Q-Minh opened #93 "Upsert query variables fails"
### Working Upsert

[code]

When directly inserting the value of `request.userId` into the query string via string interpolation, the node returned by the query is successfully deleted.

### Failing upsert

[code]

When trying to use query variables and setting the corresponding entry in the variables map for `$userId` with `` `${request.userId}` ``, the node that should be returned by the query i

[2019-11-17 17:25] prashant-shahi commented on #93
Are you using the **Type System** for that node in the schema?

If the *type information* is missing, the delete operation will be a *no-op*.

[2019-11-17 21:23] Q-Minh commented on #93
Yes, I am using the Type System for that node. If I returned its predicate dgraph.type, I can see its type. The "set" mutations work in upserts with query variables, only the deletions seem to be no-ops.

[2019-11-18 14:10] prashant-shahi commented on #93
I was able to reproduce the issue that you have raised.
I also saw similar behavior in Python client, so I believe it is a bug related to Dgraph.

Thanks, @Q-Minh, for creating this issue. Transfering it to Dgraph.

[2019-11-22 09:59] prashant-shahi opened #95 "Update test cases to support multiple mutations"
Test cases of `doRequest` are failing in Dgraph `master` with the following error message.

[code]

[2019-11-22 12:15] prashant-shahi commented on #95
Strangely, I don't see the first test fail anymore. Reverted the changes of multiple mutations.

[2019-11-26 09:29] #61 closed

[2019-11-26 09:30] #43 closed

[2019-12-09 07:53] #95 closed

[2019-12-09 13:11] prashant-shahi opened #100 "Add tests for upsert with graphql variables"
We should have test cases for upsert with GraphQL variables for both `set` and `delete` mutations, to be sure that everything works as it should.

[2019-12-10 08:03] #100 closed

[2019-12-10 10:27] prashant-shahi commented on #73
@pepoospina We can retrieve UID of the existing node by including `uid` to the query part of the upsert operation.

[code]

[2019-12-10 10:27] #73 closed

[2019-12-11 09:22] #48 closed

[2019-12-20 14:32] paulftw commented on #44
Closing the issue as obsolete.

Checked the current version of docs -- readme describes how to clean up when a clean up is necessary (i.e. in transactions and connection objects). Examples are present now.

[2019-12-20 14:32] #44 closed

[2020-01-17 08:32] xSequential opened #102 "Dgraph unique identifier"
I am using dgraph with an apollo server in front of it. In Apollo I plan to maintain a unique identifier for each user in my dgraph db.

Is the UID appropriate for this identifier?

If so, how do I grab it from the response from `txn.commit`? I would need to return it for feedback to my apollo server. Is there any feedback from the dgraph server?

[2020-01-17 08:40] tripndots commented on #102
Nevermind, I found it from the examples minutes later:

[code]
`const response = await txn.mutate(mu)`;

`const uid = response.getUidsMap().get(some_unique_value);`

May want to add to the README

[2020-01-17 08:40] #102 closed

[2020-01-23 05:00] tripndots commented on #7
I also want to note on here, I needed to remove `package-lock.json`.

[2020-02-07 12:17] mkharibalaji opened #108 "Upsert - setSetJson Facet with 4 digit numbered String Converted to Timestamp"
Hi Team,
     When i try to upsert a facet via json with a String of a four digit number it is inserted into the DB as a TimeStamp,This happens only in the facet.

Sample Data :
[code]

When I see it in the DB it looks like,
"prod_attr|prat_year": "2017-01-01T00:00:00Z",

I am using DGraph V 2.0 Beta in Windows Server.

[2020-02-28 09:01] sleto-it commented on #108
Hi @mkharibalaji,

Thank you very much for reporting this error. We have reproduced it with the latest dgraph _master_ branch. This is actually a general issue affecting Dgraph, not specifically related to dgraph-js

We are transferring this ticket in the dgraph repository. We will work for a fix and keep you updated

Thanks again,

[2020-03-05 15:11] paulrostorp opened #109 "GRPC Error on many simultaneous connections"
Hi all,
I'm getting ```Error: 14 UNAVAILABLE: Received RST_STREAM with error code 7```

When running a high number of parallel queries using the dgraph-js client.
I get no errors with a few simultaneous queries, but past a certain threshold (occurs above ~= 600-1200) the transactions return the above error.

My dgraph cluster is running at very low resource utilization (i.e not even close to being

[2020-03-05 15:37] paulrostorp commented on #109
I setup another cluster with dgraph:v1.2.1 and the error is still occurring the same. I also setup tracing and no errors in jaeger...

Still nothing in the Alpha logs though...

[2020-03-06 10:29] paulrostorp commented on #109
Further experimenting led me to discover that if I run my node program as multiple parallel processes, each run 500 simultaneous queries, everything works perfectly.
I literally just did this:
```yarn run dev & yarn run dev & yarn run dev & yarn run dev & yarn run dev & yarn run dev```

So this leads me to believe that this has something to do with a node limit for grpc...

[2020-03-06 12:27] paulrostorp commented on #109
Tracing for the error shows:
<img width="1355" alt="Screenshot 2020-03-06 at 13 26 21" src="https://user-images.githubusercontent.com/1866649/76083526-2355df80-5fae-11ea-8c86-4a601d32eb0d.png">

[2020-03-06 13:08] paulrostorp commented on #109
I enabled GRPC logs on server (GRPC_GO_LOG_SEVERITY_LEVEL=info
GRPC_GO_LOG_VERBOSITY_LEVEL=2) and now I see errors :

```INFO: 2020/03/06 12:40:16 transport: loopyWriter.run returning. connection error: desc = "transport is closing"```

[2020-03-27 14:04] Sceat commented on #62
Just started learning Dgraph, if you are open to suggestion i'd see a driver taking advantage of javascript's tagged template literals, would be pretty neat to build simply as so

[code]

minimalism :+1:

[2020-04-02 17:13] shynome commented on #109
from https://github.com/grpc/grpc-node/issues/1158#issuecomment-565335385

@paulrostorp  maybe you can have a try

[2020-04-07 14:34] shreyansh-zazz opened #112 "when running a mutation unable to get the response in JSON"
I have added comments:

[code]

Following is the error I am getting:
[code]

[2020-04-12 23:15] benwerner01 opened #113 "Can't run multiple mutations in same transaction"
I'm trying to run multiple mutations in the same transaction. To my understanding something like this should work:
[code]
However this throws the following error:
[code]
What's weird to me is all of the mutations work when using this function. Is this error a bug, or am I doing something wrong?

[2020-04-12 23:45] benwerner01 commented on #113
Not sure about the above behaviour, but have found a solution for my problem:
[code]
Calling `txn.mutate` for each mutation (**sequentially not in parallel**) works like a charm :)

[2020-04-12 23:45] #113 closed

[2020-04-26 13:42] #112 closed

[2020-04-27 02:47] zangornjak opened #115 "Module import requires unsafe-eval in script content security policy directive"
I'm trying to import the module in an Electron application with a recommended `Content Security Policy` of `script-src 'self'` but it prevents loading of the module with the error below.

![screenshot-20200427033648160881813](https://user-images.githubusercontent.com/37121652/80326375-d6b5b480-8838-11ea-9af3-8512a27a8525.png)

It loads if I add `'unsafe-eval'` to the policy, but I get reminded of

[2020-04-28 14:26] prashant-shahi commented on #115
I would recommend you use to [dgraph-js-http](https://github.com/dgraph-io/dgraph-js-http) instead.

You can check out this sample electron app which makes use of `dgraph-js-http` client.
https://github.com/prashant-shahi/electron-todo

[2020-04-28 15:27] ghost commented on #115
Thank you for the fast response and for providing an example I can work off of! :man_dancing:

I was hoping for the `dgraph-js-http` recommendation to avoid the `electron-rebuild` and `electron@9.0.0-beta.5-6 onwards` context aware requirement for `grpc` which I'd have ran head first into.

[2020-04-28 15:27] #115 closed

[2020-06-30 08:42] shreyansh-zazz opened #117 "RFC: enhancement over dgraph schema"
**Overview**
Users should be able to define DGraph schema in object format. Defining schema in an object format will enable us to provide more validations to the schema in a clearer way like validation for each predicate, e.g.
[code]

**Motivation**
A big motivation for such a feature comes from the package `mongoose` which a MongoDB client for javascript.

**Action Items**
- [ ] Support `DgraphSc

[2020-06-30 08:44] ghost commented on #117
I am happy to contribute but I will be needing some guidance. If anyone here would like to work on this with me please let me know.

[2020-06-30 09:04] jarifibrahim commented on #117
cc @vardhanapoorv

[2020-07-06 09:25] vardhanapoorv commented on #117
Hi @shreyansh-zazz
I like the idea. You can raise a draft PR (also include an example) and I can help you with your questions.

[2020-07-06 17:59] ghost commented on #117
Before proceeding, we have to make a decision on `DgraphClient`. There are two options as follows:

1. `new Dgraph.createClient(..args)` will create a single DB client instance and all further communications with the database will be done using this client. (current approach)
2. Let Option 1 be there and we can also expose an API such as `Dgraph.connect(...args)` which will take the same arguments

[2020-07-06 18:02] ghost commented on #117
Also, I think the API is pretty complicated. Maybe we can try to simplify that? There are too many new variable creations to perform one simple mutation, to be honest.

There must be some reason that I am not aware of for this decision, @vardhanapoorv can you explain to me little about this, please?

[2020-07-13 20:17] minhaj-shakeel opened #120 "GitHub issues are being deprecated."
**GitHub Issues are deprecated. Use [Discuss Issues](https://discuss.dgraph.io/c/issues/35/clients/46) for reporting issues about this repository.**
Any issues opened or reopened would be automatically closed by the bot.

[2020-07-13 20:18] #120 closed

[2020-07-20 09:47] minhaj-shakeel commented on #62
**Github issues have been deprecated.**
This issue has been moved to [discuss](https://discuss.dgraph.io/t/8178). You can follow the conversation there and also subscribe to updates by changing your notification preferences.

 <img src="https://github.com/dgraph-io/benchmarks/blob/master/images/SetNotifications.png?raw=true" alt="drawing" width="40%"/>

[2020-07-20 09:47] #62 closed

[2020-07-20 09:47] minhaj-shakeel commented on #109
**Github issues have been deprecated.**
This issue has been moved to [discuss](https://discuss.dgraph.io/t/8191). You can follow the conversation there and also subscribe to updates by changing your notification preferences.

 <img src="https://github.com/dgraph-io/benchmarks/blob/master/images/SetNotifications.png?raw=true" alt="drawing" width="40%"/>

[2020-07-20 09:47] #109 closed

[2020-07-20 09:48] minhaj-shakeel commented on #117
**Github issues have been deprecated.**
This issue has been moved to [discuss](https://discuss.dgraph.io/t/8195). You can follow the conversation there and also subscribe to updates by changing your notification preferences.

 <img src="https://github.com/dgraph-io/benchmarks/blob/master/images/SetNotifications.png?raw=true" alt="drawing" width="40%"/>

[2020-07-20 09:48] #117 closed

[2021-06-30 04:21] longdl97 opened #145 "Does Dgraph support Dgraph Module for Nestjs ?"
Hello im new in Dgraph.
When i tried to inject Dgraph as a module in Nestjs, I can see Dgraph does not support for module.
So i want to recommended Dgraph should support it.
It's seem like
`export declare class DgraphModule {
    static register(options: DgraphModuleOptions): DynamicModule;
    static registerAsync(options: DgraphModuleAsyncOptions): DynamicModule;
    private static createAsyncPr

[2021-06-30 04:21] #145 closed

[2022-03-04 19:00] ethever opened #156 "too many request"
**GitHub Issues are deprecated. Use [Discuss Issues](https://discuss.dgraph.io/c/issues/35/clients/46) for reporting issues about this repository.**
{
  "errors": [
    {
      "message": "2 UNKNOWN: 429 Too Many Requests. Please throttle your requests",
      "locations": [
        {
          "line": 14,
          "column": 15
        }
      ],
      "path": [
        "postsWithRelay",